body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 20px;
  max-width: 1200px;
  /* margin: 0 auto; */
}

.container h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.container p {
  font-size: 16px;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px; /* Set the maximum width for the gallery */
  margin: 0 auto;
}

.gallery img {
  flex: 1 1 auto;
  height: auto;
  max-width: 100%; /* Set the maximum width for each image */
  max-height: 300px; /* Set the maximum height for each image */
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Additional style for creating a collage effect */
.gallery img:nth-child(odd) {
  margin-bottom: 20px; /* Add extra margin to odd-numbered images for a staggered effect */
}

.gallery img:nth-child(even) {
  margin-top: 20px; /* Add extra margin to even-numbered images for a staggered effect */
}
