.horizontal-tabs {
  display: flex;
  background-color: #007BFF; /* Dark blue background color */
  overflow-x: auto;
  padding: 10px 0; /* Increased padding for a thicker navigation bar */
}

.horizontal-tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.horizontal-tabs li {
  margin: 0;
  padding: 0;
}

.horizontal-tabs a {
  text-decoration: none;
  color: #fff; /* White text color */
  padding: 10px 20px;
  border-bottom: 3px solid transparent; /* Thicker border */
  transition: border-bottom 0.3s, background-color 0.3s; /* Smooth transitions */
}

.horizontal-tabs a:hover {
  border-bottom: 3px solid #0056b3; /* Lighter blue border on hover */
  background-color: #0056b3; /* Lighter blue background on hover */
}

/* To make the active tab look different, you can add a class for it and style it */
.horizontal-tabs a.active {
  font-weight: bold;
  border-bottom: 3px solid #fff; /* White border for active tab */
}
